<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= survey.title %></title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1><%= survey.title %> Survey</h1>
  
  <% if (survey.description) { %>
    <p>Description: <%= survey.description %></p>
  <% } %>
  
  <% if (survey.link) { %>
    <a href="<%= survey.link %>">Participate in this survey</a>
  <% } %>
  
  <p>Status: <%= survey.status %></p>

  <a href="/surveys/<%= survey._id %>/edit">
    Edit this survey
  </a>

  <form
    action="/surveys/<%= survey._id %>?_method=DELETE"
    method="POST"
  >
    <button type="submit">Delete this survey</button>
  </form>
</body>
</html>
